{
  "extends": [
    "plugin:@taiga-ui/experience/all"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.test.json"]
  },
  "rules": {
    "@taiga-ui/experience/no-simple-for-of": "off"
  }
}
