{
  "extends": [
    "plugin:@taiga-ui/experience/all"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.test.json"]
  },
  "rules": {
    "sonarjs/sonar-no-fallthrough": "off",
    "import/no-useless-path-segments": "off",
    "react/display-name": "off"
  }
}
